


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // @media only screen and (max-width: $bp-medium) {
  //     font-size: 50%;
  // }
}

body {
  font-family: "Sofia Pro", PingFangSC, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

