//font-size
$s-size-fn: 1.4rem;
$m-size-fn: 1.6rem;
$m2-size-fn: 1.8rem;
$m3-size-fn: 2.2rem;
$l-size-fn: 2.4rem;
$l2-size-fn: 3rem; 
$xl-size-fn: 5.7rem;
$xxl-size-fn: 7rem;
//color
$red: #FE2C55;

$light-grey: #D2DEDE;
$grey-1: #B0B0B4;
$grey: #A2A3A7;
$dark-grey: #6b6b6b;

//screen-size
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 62em;      // 992px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px