





.nav-list {
    list-style: none;
    padding: 0;

    &:first-of-type {
        margin-bottom: 3rem;
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
}

.nav-link {
    &:hover {
    text-decoration: underline;
    text-underline-position: under;
    }
    text-decoration: none;
    font-size: $m-size-fn;
    color: black;
    font-weight: 500;
}

.nav-logo {
    margin: 10rem 0;
}