.content {
    width: 100%;
}

.images-container {
    display: grid;
    grid-template-rows: minmax(510px, min-content);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 0;
    grid-auto-rows: 510px;
    
    & > * {
        object-fit: cover;
        width: 290px;
        height: 510px;
    }
}