.big-logo  {
    display: inline-block;
    margin: 12rem 0 5.5rem 0;

    .logo-img {
        transform: scale(1.4);
    }
    .logo-text {
        transform: scale(1.2);
        margin-left: 2rem;
    }
}

.small-logo {
    margin-left: 5rem;
    .logo-text {
        transform: translateY(-2px);
        margin-left: .5rem;
    }
}

.white-logo-text {
    margin-left: .6rem;
}
