.backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
}

.backdrop-enter {
    opacity: 0;
  }
.backdrop-enter-active {
  opacity: .5;
  transition: opacity 300ms;
}
.backdrop-exit {
  opacity: .5;
}
.backdrop-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
