.aside {
    flex: 0 0 330px;
    margin-left: 4rem;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}



.share-group  {
    display: inline-block;

    & :not(:last-child) {
        margin-right: 1rem;
    }   
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.recommend-card {
    border: 1px solid $light-grey;
    border-radius: 8px;
    padding: 2rem;
    h3 {
        margin-bottom: 2rem;
    }
}



.recommend-list {
    list-style: none;
    padding: 0;
    height: 27rem;
    overflow: scroll;
    li {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}

.recommend-item {
    display: flex;
    align-items: center;
    
}

.recommend-link-avatar {
    margin-right: 1.2rem;
    flex: 0 0 40px;
}

.avatar-head {
    display: inline-block;
    border-radius: 50%;

}

.avatar-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.recommend-link-infos {
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
    text-decoration: none;
    &:hover h4{
        text-decoration: underline;
    }
    h4 {
        padding-bottom: .4rem;
        line-height: 1.2;
        margin: 0;
    }
    p {margin: 0;}
}

.form-trending {
    width: auto;

    &__title {
        text-align: left;
        display: inline-block;
        padding-bottom: 1rem;
        margin: 5rem 0 1rem 0;
        font-weight: 600;
        border-bottom: 1px solid $light-grey;
    }

    &__text {
        width: auto;
        color: $dark-grey;
        margin-bottom: 2rem;
    }

    &__input {
        width: 50%;
        border: 1px solid $light-grey;
    }

    &__select {
        border: 1px solid $light-grey;
    }
}