//VIDEO PLAYER
.video-player {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    display: flex;
    flex-direction: row;

    &__content {
        background: black none repeat scroll 0% 0%;
        flex: 1 1 896px;
        position: relative;
        overflow: hidden;
        padding: 0px 80px;

        &:hover .player__mute-icon {
            opacity: 1;
        }
    }

    &__aside {
        flex: 0 0 544px;
        width: 544px;
        display: flex;
        flex-direction: column;
    }

}


.video-container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

    &__video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.user-info-container {
    padding: 32px 32px 0px;
}

.user-info {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    padding: 22px 0px 15px;
    color: rgb(22, 24, 35);
}

.video-info-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    overflow: scroll;
}

.bg-image-container {
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.player {
    &__left-arrow {
        width: 48px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        left: 20px;
        margin-top: -24px;              
    }

    &__right-arrow {
        right: 20px;
        margin-top: -24px;
        transform: rotate(180deg);
        width: 48px;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }

    &__close {
        width: 48px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        top: 20px;
        left: 20px;
    }

    &__logo {
        top: 20px;
        left: 84px;
        width: 48px;
        position: absolute;
    }

    &__mute-icon {
        background-image: url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/volumn_muted-4deff03a96a3c2f0008c8798037f416b.svg");
        position: absolute;
        width: 48px;
        height: 48px;
        // background: rgba(0, 0, 0, 0) url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/volumn_withSound-640a5dfa17d62d22c3050317123200ed.svg") no-repeat scroll center center / contain;
        // background-image: url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/volumn_withSound-640a5dfa17d62d22c3050317123200ed.svg");
        top: 20px;
        left: 183px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
    }

    &__report-text {
        font-family: "sofiapro-semibold", PingFangSC, sans-serif;
        font-weight: 700;
        position: absolute;
        right: 20px;
        top: 31px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &::before {
            content: "";
            width: 16px;
            height: 16px;
            background: rgba(0, 0, 0, 0) url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/icon_report-3e6f2085cfab7d354d475a0f179882bc.png") no-repeat scroll center center / contain;
            position: absolute;
            left: -23px;
            top: 1px;
            
        }
    }
}

.play-button {
    position: absolute;
    inset: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7%;
    background-image: url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/ic-play-small-cf6990c734090b6fd6ed26d542dd3c65.svg");
}

.event-delegate-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
};

.song-name {
    position: relative;
    padding-left: 3rem;

    &:hover {
        text-decoration: underline;
    }
    &::after {
        content: '';
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        left: 0px;
        top: 5px;
        transform: translateY(-4px);
        background: transparent url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/music-80312cad94fb3699012382f64283dc74.svg") no-repeat scroll center center / contain;
    }

}

.action-container {
    display: flex;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding-bottom: 12px;
    position: relative;
    flex: 0 0 auto;
}

.action-left {
    flex: 0 0 auto;
    font-family: "proxima-semibold", PingFangSC, sans-serif;
    font-weight: 600;
    font-size: $m-size-fn;
    line-height: 56px;
}

.like-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-image: url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/like-inactive-d771e860459cfdd012d82f9c44791ace.svg");
}

.comment-icon {
    background-image: url("//s16.tiktokcdn.com/tiktok/falcon/_next/static/images/comment-85150c34ed75254a6a731ff76d676890.svg");
    margin-left: 20px;
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.comment-container {
    flex: 1 1 auto;
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        transform: scaleY(0.5);
        border-top: 1px solid rgba(18, 18, 18, 0.12);
        top: 0px;
    }
}

.login-container {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0px 60px;
}

.videos-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 400px);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 400px;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



