.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 90;
    opacity: .5;
    background-color: black;   
}

.backdrop-enter {
    opacity: 0;
  }
  .backdrop-enter-active {
    opacity: .5;
    transition: opacity 300ms;
  }
  .backdrop-exit {
    opacity: .5;
  }
  .backdrop-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }