//MAIN BUTTON
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
    height: 4.4rem;
    padding: 0rem 1.2rem;
    border-radius: 2px;
    cursor: pointer;
}


.button {
    display: inline-block;
    font-size: $m-size-fn;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: none;
}

.play-img {
    transform: translateY(2px);
    margin-right: 1rem;
}

//LOGIN BUTTON
.big-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
    height: 5rem;
    width: 16.4rem;
    padding: 0rem 1.2rem;
    border-radius: 2px;
    margin-left: 3rem;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
        background-color: rgba(255, 0, 0, 0.5);
    }
}

.big-button {
    display: inline-block;
    font-size: $m2-size-fn;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: none;
}

.upload-wrapper {   
    cursor: pointer;
    position: relative;
    &:hover .upload-menu{
        display: block;
    }
}

.upload-menu {
    display: none;
    top: 100%;
    left: 0;
    transform: translate(-58.9%, 50%);
    position: absolute;
    text-align: center;
    height: 4rem;
    padding: 1rem;
    width: 12rem;
    border-radius: 10px; 
    color: white; 
    background-color: black;
    font-size: $s-size-fn;
    font-weight: 500;

    &__item {
        transform: translateY(25%);
    }
    
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 65%;
        transform: translate(0, -100%);
        display: block;
        height: 0;
        width: 0;
        border: 10px solid rgba(0,0,0,0);
        border-bottom: 10px solid #000;
        opacity: 1;
    }
}


//BUTTON FOOTER

.button_footer {
    font-weight: 400;
    font-size: $m2-size-fn;
}

.button-wrapper_footer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

//TRANSPARENT BUTTON
.button-transparent {
    border: 1px solid $red;
    background-color: rgba(0,0,0,0);
    color: $red;
    font-size: $s-size-fn;
    font-weight: 500;
    padding: .5rem 2rem;

    &:hover {
        background-color: rgba(0,0,0, .03);
    }
}

.button-transparent_big {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    min-width: 124px;
    max-width: 148px;
    height: 36px;
    flex: 0 0 auto;
    outline: currentcolor none medium;
    border: 1px solid rgb(254, 44, 85);
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(254, 44, 85);
}

.sign-up-button {
    border: none;
    font-size: 1.4rem;
    color: $red;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

.profile {
    position: relative;
    margin-left: 3rem;
    cursor: pointer;

    &__avatar {
        height: 45px;
        width: 45px;
    }

    &__popup {
        border-radius: 10px;
        height: 11rem;
        width: 20rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0 , .15);
        position: absolute;
        right: 0;
        top: 120%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1.4rem 2rem;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 6%;
            transform: translate(0, -100%);
            display: block;
            height: 0;
            width: 0;
            border: 10px solid rgba(0, 0, 0, 0);
            border-bottom-color: rgba(0, 0, 0, 0);
            border-bottom-style: solid;
            border-bottom-width: 10px;
            border-bottom: 10px solid #fff;
            opacity: 1;
        }

        &-text {
            font-size: 1.8rem;
            font-weight: 600;
            margin: 0;
            line-height: 2;
            color: #121212;
            text-decoration: none;
            &:hover {
                color: $red;
            }
        }

        &-border {
            height: 1px;
            width: 100%;
            position: relative;
            display: inline-block;
            background-color: #F1F1F1;
            margin: 0;
            padding: 0;
        }
    }
}


